.swiper {
    font-size: 16px;
    text-align: center;
    margin-top: 3rem;
}

.swiper p {
    font-size: var(--fontSize-secondary);
    padding: 3rem 0;
}

.swiper-cards {
    width: 70%;
    height: 600px;
}

.swiper-slide {
    display: column;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: var(--fontSize-secondary);
    font-weight: bold;
    color: #000000;
    padding: 2rem;
}

.post {
    height: 200px;
}

.post img {
    width: 600px;
    height: 200px;
}

@media screen and (max-width: 400px) {
    .swiper {
        width: 250px;
        align-items: center;
    }

    .swiper p {
        font-size: var(--fontSize-secondary);
    }

    .swiper h3 {
        font-size: var(--fontSize-secondary);
    }

    .post img {
        width: 200px;
        height: 100px;
    }
}

/* img {
    width: 600px;
    height: 200px;
} */

.swiper-slide:nth-child(1n) {
    background-color: var(--color-primary);
}

.swiper-slide:nth-child(2n) {
    background-color: rgb(106, 180, 241);
}

.swiper-slide:nth-child(3n) {
    background-color: rgb(10, 184, 111);
}

.swiper-slide:nth-child(4n) {
    background-color: rgb(211, 122, 7);
}

.swiper-slide:nth-child(5n) {
    background-color: rgb(118, 163, 12);
}

.swiper-slide:nth-child(6n) {
    background-color: rgb(180, 10, 47);
}

.swiper-slide:nth-child(7n) {
    background-color: rgb(35, 99, 19);
}

.swiper-slide:nth-child(8n) {
    background-color: rgb(0, 68, 255);
}

.swiper-slide:nth-child(9n) {
    background-color: rgb(218, 12, 218);
}

.swiper-slide:nth-child(10n) {
    background-color: rgb(54, 94, 77);
}